.add-file-button {
    grid-area: 3 / 1 / 4 / 13;
}

.add-file-button button {
    background: rgb(255,176,0);
    background: radial-gradient(circle, rgba(255,176,0,1) 0%, rgba(255,189,0,1) 100%); 
    color: white;
    text-transform: unset;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    justify-content: end;
}

.add-file-button button:hover {
    border:none;
    box-shadow: 0px 0px 15px rgba(211, 158, 0, 0.5);
}


.add-file-button > div {
    text-align: right;
    margin-bottom: 1rem;
}



